<div class="container mediapantalla">
  <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 ">
      <div class="titulo-seccion text-center">
         <h2>Entrar a mi cuenta</h2>
      </div>
      <%= form_for(:session, url: login_path) do |f| %>

        <%= f.label :email %>
        <%= f.text_field :email, class: 'form-control' %>

        <%= f.label :password %>
        <%= link_to "(Recuperar contraseña)", new_password_reset_path %>
        <%= f.password_field :password, class: 'form-control' %>

        <%= f.submit "Entrar", class: "btn btn-primary" %>
      <% end %>

      <p>Eres Nuevo? <%= link_to "Registrate ahora!", new_user_path %></p>
    </div>
  </div>
</div>
