<ul class="nav nav-tabs" role="tablist">
<% @tags.each do |tag| %>
	<li <%= "class='active'".html_safe if tag == @tags.first %>><a href="#tab_<%= tag.slug %>" data-toggle="tab"><%= tag.name %></a></li>
<% end %>
</ul>
<div class="tab-content">
	<% @tags.each do |tag| 

		if tag.name == @tags.first.name 

			@clase = "active" %>

			<%= render partial: "shared/post_form_#{tag.slug}", locals: { post: @post, clase: @clase } %>

		<% else %>

			<%= render partial: "shared/post_form_#{tag.slug}", locals: { post: @post, clase: "" } %>

		<% end %>

	 <% end %>
</div>