<div class="tab-pane <%= clase %>" id="tab_recomendacion_favor">
	 <%= form_for post, url: user_posts_path(current_user.id, post.id) do |f| %>
		<%= render 'shared/error_messages', object: f.object %>
	    <div class="field">
	    <%= f.text_area :content, placeholder: "Compose new Post..." %>
	    <%= f.hidden_field :tag, :value => :recomendacion_favor %>
	    </div>
	    <%= f.submit "Post", class: "btn btn-primary" %>
	<% end %>
</div>