<div class="post col-xs-12" id="post-<%= post.id %>">
	  <div class="user"><%= link_to post.user.name, post.user %> > <%= post.tag.name %></div>
	  <div class="content"><%= post.content %></div>
	  <div class="timestamp">
	    Hace <%= time_ago_in_words(post.created_at) %> atras.
	  </div>

	<%= render partial: 'megustas/megusta', locals: { post: post } %>

	  <%= link_to 'Ver Post', user_post_path(post.user, post.id) %>
	  <div class="comments">
		<%  post.comments.each do |comment| %>
			<%= render partial: 'comments/comment', locals: { comment: comment } %>
		<% end %>
	  </div>
	  <div class="comment-box">
	  		<%= render partial: 'comments/comment_box', locals: { post: post } %>
	  </div>
</div>
