<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 post" id="post-<%= post.id %>">
	  <div class="user"><%= link_to post.user.name, post.user %></div>
	  <div class="content"><%= post.content %></div>
	  <div class="timestamp">
	    Hace <%= time_ago_in_words(post.created_at) %> atras.
	  </div>
	  <%= link_to 'Ver Post', user_post_path(post.user, post.id) %>
</div>