<div class="megusta-personas padding-top">
  <div class="col-xs-12 col-md-4">
    <%
    @megusta = post.usuario_puso_me_gusta?(current_user)
    if @megusta %> 
    	<%= form_for :megusta, url: megusta_path(@megusta), html: { class: "form-inline" } , method: :delete do |f| %>
    		<%= f.hidden_field :post_id, :value => post.id %>
    		<%= f.submit "No me gusta", class: "btn btn-danger btn-nomegusta" %>
    	<% end %>
    <% else %>
    	<%= form_for :megusta, url: megustas_path do |f| %>
    		<%= f.hidden_field :post_id, :value => post.id %>
    		<%= f.submit "Me Gusta", class: "btn btn-success btn-megusta" %>
    	<% end %>
    <% end %>
  </div>
  <div class="col-xs-12 col-md-8">
  <%= render partial: 'megustas/personas_megusta', locals: { post: post } %>
  </div>
</div>