    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-wie">
            <span class="sr-only">Cambiar Navegacion</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="<%= root_path %>" class="navbar-brand">
            <%= image_tag("logo.png", alt: "Vesindo logo", id: "logo-nav-bar") %>
          </a>
              <a href="<%= root_path %>" class="navbar-brand">Vesindo</a>
        </div>
          <div class="collapse navbar-collapse navbar-wie">
            <ul class="nav navbar-nav">
              <!--  <li><a href="#beneficios">Seguridad</a></li> -->
              <% if logged_in? %>
                <li><%= link_to 'Mi Barrio', root_path %></li>
              <% end %>
              <!-- <li><a href="#beneficios">Mapa</a></li> -->
            </ul>
            <nav>
              <ul class="nav navbar-nav pull-right">
                <% if logged_in? %>
<<<<<<< HEAD
                <li><a href="https://docs.google.com/forms/d/1LjcVa0lLDs6Z5Db-vBgk2HCCuLwLnHbzxY9qstNY7q4">Invitar a un vecino</a></li>
=======
>>>>>>> direcciones
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      Mi Cuenta <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                      <li><%= link_to "Mi Perfil", current_user %></li>
                      <li><%= link_to "Configuración", edit_user_path(current_user) %></li>
                      <li class="divider"></li>
                      <li>
                        <%= link_to "Salir", logout_path, method: "delete" %>
                      </li>
                    </ul>
                  </li>
                <% else %>
                  <li><%= link_to "Entrar", login_path %></li>
                <% end %>
              </ul>
            </nav>
        </div>
      </div>
    </div>